.bg-black {
  background-color: black !important;
}

.noto-nav-item {
  font-size: 22pt;
}

.noto-scan-item {
  font-size: 20pt;
}


.noto-scanner-overlay {
  width:100%;
  height:100%;

}

.noto-scan-button {
    font-size: 28pt;
    margin: auto auto;
    margin-top:20%;
    width:90%;
    left:50%;
}


div {
  height: 90%;
  width: 90%;
  margin: auto auto;
  /*position: fixed;
  left:50%;
  top:50%;
  margin-left:-45%;
  margin-top:-45%;*/
}
