.bg-black {
  background-color: black !important;
}

.noto-nav-item {
  font-size: 22pt;
}

.noto-scan-item {
  font-size: 20pt;
}


.noto-scanner-overlay {
  width:100%;
  height:100%;

}

<<<<<<< HEAD
.noto-scan-button {
    font-size: 28pt;
    margin: 20px auto;
    width:90%;
=======
div {
  height: 400px;
  width: 800px;

  position: fixed;
  left:50%;
  top:50%;
  margin-left:-390px;
  margin-top:-325px;
>>>>>>> 7098f4288d995e2ce3ed21cabfa1b4d96c7425b0
}
