.bg-black {
  background-color: black !important;
}

.noto-nav-item {
  font-size: 22pt;
}

.noto-scan-item {
  font-size: 20pt;
}


.noto-scanner-overlay {
  width:100%;
  height:100%;

}

.noto-scan-button {
    position: absolute;
    font-size: 28pt;
    width:90%;
    left:5%;
    bottom:5%;
}


div {
  height: 90%;
  width: 90%;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-45%;
  margin-top:-45%;
}
