.bg-black {
    background-color: black !important;
}

.noto-nav {
  z-index: 200;
}

.noto-nav-item {
    font-size: 22pt;
}

.noto-scan-item {
    font-size: 20pt;
}

.noto-scan-button {
    font-size: 20pt;
    margin: 20px auto;
    width:90%;
}
.noto-scan-return-button {
    font-size: 20pt;
    margin-left: -25vh;
    position: absolute;
    width: 50vh;
    bottom: 10%;
    left: 50%;

}



.noto-scanner-overlay {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.noto-content {
  height:98%;
  height:98%;

}


:host zxing-scanner::ng-deep {
  margin: 0 auto;
  object-fit: contain;
  display: inline-block;
}

:host zxing-scanner::ng-deep > video {
  height: 95vh;
  width:auto;
}
