.bg-black {
    background-color: black !important;
}

.noto-nav {
  z-index: 200;
}

.noto-nav-item {
    font-size: 28pt;
}

.noto-scan-item {
    font-size: 28pt;
}

.noto-cashier-button {
    font-size: 28pt;
    margin: 20px auto;
    width:90%;
    min-height: 70px !important;
    height:7vh;
    background-color: #ff62aa;
    color: #FFF;
    font-weight: bold;
    border-width: 0px;
/*height:5vh;
min-height: 50px;*/
}

.noto-cashier-button:disabled {
  background-color: grey;
}

.noto-scan-button {
    font-size: 28pt;
    margin: 20px auto;
    width:90%;
    min-height: 70px !important;
    height:7vh;
    background-color: white;
    font-weight: bold;
    color: #ff62aa;
    border: 4px solid #ff62aa;
}


.noto-scan-return-button {


      min-height: 70px !important;
      height:7vh;
      background-color: #ff62aa;
      color: #FFF;
      font-weight: bold;
      border-width: 0px;
    font-size: 28pt;

    position: absolute;
    width: 90vh;
    bottom: 5%;
    left: 5%;

}



.noto-scanner-overlay {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.noto-content {
  height:98%;
  width:98%;

}


:host zxing-scanner::ng-deep {
  margin: 0 auto;
  object-fit: contain;
  display: inline-block;
}

:host zxing-scanner::ng-deep > video {
  height: 95vh;
  width:auto;
  max-width: 98vw;
  max-height: 98vh;
}
